include INSTALL.rst README.rst
include CONTRIBUTING.md
include pytest.ini
include Makefile MANIFEST.in
include setup.cfg.template
include setupext.py setup.py distribute_setup.py
include lib/legacycontour/_version.py
include lib/legacycontour/__init__.py
include lib/legacycontour/contour.py
include src/cntr.c
include versioneer.py
include tests.py
